@{
    ViewData["Title"] = "Home Page";
}
@*<h3>
    @Html.Raw(ViewBag.EmployeeTableName)
</h3>
<table class="@Html.Raw(ViewBag.TableClasses)">
    @Html.Raw(ViewBag.EmployeeTable)
</table>

<h3>
    @Html.Raw(ViewBag.OrdersTable.TableName)
</h3>
<table class="@Html.Raw(ViewBag.OrdersTable.TableClasses)">
    @Html.Raw(ViewBag.OrdersTable.TableHeaderAsHtmlString + ViewBag.OrdersTable.TableRowsAsHtmlString)
</table>*@

@*<h1>@ViewBag.Data.Address</h1>*@
